$primaryBgd : rgba(213, 9, 231, 0.918);
$divBgdFirst : rgba(223, 84, 95, 0.918);
$divBgdSecond : rgba(78, 145, 114, 0.918);
$colorBtn : rgba(40, 212, 63, 0.918);
$textColor: lightgrey;
$hoverColor: red;
$avionfondo:#77b3d4;